version: '3.3'

services:
  dev-db:
    image: postgres:13
    container_name: dev-db
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - freecodecamp

networks: 
  freecodecamp:
